/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	background: url("/assets/food.jpg") no-repeat;
	background-size: cover;
	color:#000;
	font-family: "Indie Flower";
	font-size:20px;
}

.container{
	background: rgba(255,255,255,0.8);
	padding-left:10px;
	margin-top: 30px;
}

#new{
	float:right;
	margin-right: 75%
	}

h1{
	font-size:40px;
}

.headline{
	text-align: center;;
}

#indexheadline{
	display:inline;
}
#indexdiv{
	padding-top:10px;
	padding-bottom: 7px;
	padding-left: 5px;
}

.notice {
	color:green;
}
.alert{
	color:red;
}